{% set language = ebookdata.language ? ebookdata.language : settings.langattr %}
<!DOCTYPE html>
<html lang="{{ language | default('en-gb') }}">
	<head>
		<meta charset="UTF-8">

		<title>{{ebookdata.title}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="{{ metatabs.meta.description }}" />
		<meta name="author" content="{{ metatabs.meta.author }}" />
		<meta name="generator" content="Typemill" />

		{{ assets.renderCSS() }}


		<link rel="stylesheet" href="{{ base_url }}/plugins/ebooks/booklayouts/report/layout-digital.css" />
		<link rel="stylesheet" href="{{ base_url }}/plugins/ebooks/booklayouts/report/layout.css" />
	
		<style>
			:root {
			  --primary-bg-color: {{ ebookdata.primarycolor ? ebookdata.primarycolor : 'cadetblue' }};
			  --secondary-bg-color: {{ ebookdata.secondarycolor ? ebookdata.secondarycolor : 'cadetblue' }};
			  --primary-ft-color: {{ ebookdata.primaryfontcolor ? ebookdata.primaryfontcolor : 'white' }};
			  --secondary-ft-color: {{ ebookdata.secondaryfontcolor ? ebookdata.secondaryfontcolor : 'white' }};
			  --font-body: {{ ebookdata.fontbody ? ebookdata.fontbody : 'Open Sans' }};
			  --font-headlines: {{ ebookdata.fontheadline ? ebookdata.fontheadline : 'Open Sans' }};
			  --font-size: {{ ebookdata.fontsize ? ebookdata.fontsize : '16' }}px;
			  --text-align: {{ ebookdata.textalign ? ebookdata.textalign : 'justify' }};
			  --hyphens: {{ ebookdata.hyphens ? ebookdata.hyphens : 'auto' }};
			}
		</style>

		<style>


			/* pagination */

			{% if ebookdata.totalpages %}
				@page {
				    @bottom-right {
				        content: counter(page) " / " counter(pages);
				        font-size: 0.7em;
				        font-weight: bold;
				        text-align: right;
				    }
				}

			{% else %}

				@page {
				    @bottom-right {
				        content: counter(page);
				        font-size: 0.7em;
				        font-weight: bold;
				        text-align: right;
				    }
				}

			{% endif %}

			/* running footer with title */
			
			{% if ebookdata.footertitle %}

				/* no headline couter in the running footer */
				{% if ebookdata.toccounter %}
					h1 .headlineContent {
					  string-set: title content(text);
					}
				{% else %}
					h1{
					  string-set: title content(text);
					}
				{% endif %}

			{% endif %}

			/* toc indentation */

			{% if ebookdata.toccounter and ebookdata.tocindent %}
				.toc-element-level-1 .headlineCounterToC{
					min-width: 18px;
				}
				#toc .toc-element-level-2{
					margin-left: 23px;
				}
				.toc-element-level-2 .headlineCounterToC{
					min-width: 26px;
				}
				#toc .toc-element-level-3{
					margin-left: 54px;
				}
				.toc-element-level-3 .headlineCounterToC{
					min-width: 34px;
				}
				#toc .toc-element-level-4{
					margin-left: 64px;
				}
				.toc-element-level-4 .headlineCounterToC{
					min-width: 42px;
				}
				#toc .toc-element-level-5{
					margin-left: 74px;
				}
				.toc-element-level-5 .headlineCounterToC{
					min-width: 42px;
				}
				#toc .toc-element-level-6{
					margin-left: 84px;
				}
				.toc-element-level-6 .headlineCounterToC{
					min-width: 42px;
				}
			{% elseif ebookdata.tocindent %}
				#toc .toc-element-level-2{
					margin-left: 16px;
				}
				#toc .toc-element-level-3{
					margin-left: 32px;
				}
				#toc .toc-element-level-4{
					margin-left: 48px;
				}
				#toc .toc-element-level-5{
					margin-left: 64px;
				}
				#toc .toc-element-level-6{
					margin-left: 80px;
				}
			{% endif %}

		</style>

	</head>
	<body id="ebook" data-ebookdata="{{ ebookdata|json_encode|e('html_attr') }}">

		<div class="cover">
			<div class="cover-top">
				{% if ebookdata.logo != '' %}
					<img class="logo" src="{{ base_url }}/{{ ebookdata.logo }}">				
				{% endif %}
			</div>
			<div class="cover-title">
				<h1 class="cover-headline">{{ ebookdata.title }}</h1>
				<h2 class="cover-subtitle">{{ ebookdata.subtitle }}</h2>
				{% if ebookdata.coverimage %} <img src="{{ base_url }}/{{ ebookdata.coverimage }} ">{% endif %}
			</div>
			<div class="cover-bottom">
				{% if ebookdata.coverlefttext %}
					<div class="bottomcorner">{{ markdown(ebookdata.coverlefttext) }}</div>
				{% endif %}
				{% if ebookdata.coverrighttext %}
					<div class="bottomcorner cornerright">{{ markdown(ebookdata.coverrighttext) }}</div>
				{% endif %}
			</div>
		</div>

		<div class="imprint">
			<div class="imprint-bottom">

				{{ markdown(ebookdata.imprint) }}

			</div>
		</div>
		
		{% if ebookdata.toc %}
			<div class="tableofcontents">
				<h1>{{ ebookdata.toctitle }}</h1>
				<div id="toc"></div>
			</div>
		{% endif %}

		<div class="bookcontent">

			{% for chapter in book %}

				{% if chapter.level == 1 %}
					
					<section class="chapter">
						{{ chapter.content }}
					</section>

				{% else %}
						
					{{ chapter.content }}

				{% endif %}

			{% endfor %}
		
		</div>

		{% if ebookdata.blurb %}

			<div class="blurb">
				<div class="cover-top">
					{% if ebookdata.logo != '' %}
						<img class="logo" src="{{ base_url }}/{{ ebookdata.logo }}">				
					{% endif %}
				</div>
				<div class="cover-title"></div>
				<div class="cover-bottom">
					<div class="bottomcorner">{{ markdown(ebookdata.blurb) }}</div>
				</div>
			</div>
		
		{% endif %}

		<script>
			let ebookconfig = document.querySelector('#ebook');
			ebookdata = JSON.parse(ebookconfig.dataset.ebookdata);
		</script>

		{% block javascripts %}

			{{ assets.renderJS() }}
		
		{% endblock %}

		<script src="{{ base_url }}/plugins/ebooks/public/paged.polyfill.js"></script>
		<script>

			class handlers extends Paged.Handler {
				constructor(chunker, polisher, caller) {
				    super(chunker, polisher, caller);
				}

				beforeParsed(content){
					
					if(ebookdata.toc){
						createToc({
						    content: 		content,
						    tocElement: 	'#toc',
						    tocLevels: 		ebookdata.toclevel,
						    tocCounter: 	ebookdata.toccounter,
						    headlineArea:	'.bookcontent',
						});
					}
				}
			}
			Paged.registerHandlers(handlers);

		</script>
		
		{% if ebookdata.toc %}
			<script src="{{ base_url }}/plugins/ebooks/public/paged-toc.js"></script>
		{% endif %}

	</body>
</html>