{% set language = ebookdata.language ? ebookdata.language : settings.langattr %}
<!DOCTYPE html>
<html lang="{{ language | default('en-gb') }}">
	<head>
		<meta charset="UTF-8">

		<title>{{ebookdata.title}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="{{ metatabs.meta.description }}" />
		<meta name="author" content="{{ metatabs.meta.author }}" />
		<meta name="generator" content="Typemill" />

		{{ assets.renderCSS() }}


		<link rel="stylesheet" href="{{ base_url }}/plugins/ebooks/booklayouts/report/layout-digital.css" />
		<link rel="stylesheet" href="{{ base_url }}/plugins/ebooks/booklayouts/report/layout.css" />
	
		<style>
			:root {
			  --primary-bg-color: {{ ebookdata.primarycolor ? ebookdata.primarycolor : 'cadetblue' }};
			  --secondary-bg-color: {{ ebookdata.secondarycolor ? ebookdata.secondarycolor : 'cadetblue' }};
			  --primary-ft-color: {{ ebookdata.primaryfontcolor ? ebookdata.primaryfontcolor : 'white' }};
			  --secondary-ft-color: {{ ebookdata.secondaryfontcolor ? ebookdata.secondaryfontcolor : 'white' }};
			  --font-body: {{ ebookdata.fontbody ? ebookdata.fontbody : 'Open Sans' }};
			  --font-headlines: {{ ebookdata.fontheadline ? ebookdata.fontheadline : 'Open Sans' }};
			  --font-size: {{ ebookdata.fontsize ? ebookdata.fontsize : '16' }}px;
			  --text-align: {{ ebookdata.textalign ? ebookdata.textalign : 'justify' }};
			  --hyphens: {{ ebookdata.hyphens ? ebookdata.hyphens : 'auto' }};
			}
		</style>

		{% if ebookdata.toccounter %}
			
			<style>
				.headlineCounterToC{
					min-width: 3rem;
					margin-right: 5px;
				}
				.headlineCounter{
					display: inline-block;
					min-width: 2rem;
					margin-right:5px;
				}
			</style>

		{% else %}

			<style>
				.headlineCounterToC,
				.headlineCounter{
					display: none;
				}
				#list-toc-generated .toc-element-level-1{
				  margin-top: 25px;
				  font-weight: bold;
				}
				#list-toc-generated .toc-element-level-3{
				  margin-left: 12px;
				}
				#list-toc-generated .toc-element-level-4{
				  margin-left: 24px;
				}			
			</style>
		
		{% endif %}

	</head>
	<body id="ebook" data-ebookdata="{{ ebookdata|json_encode|e('html_attr') }}">

		<div class="cover">
			<div class="cover-top">
				{% if ebookdata.logo != '' %}
					<img class="logo" src="{{ base_url }}/{{ ebookdata.logo }}">				
				{% endif %}
			</div>
			<div class="cover-title">
				<h1 class="cover-headline">{{ ebookdata.title }}</h1>
				<h2 class="cover-subtitle">{{ ebookdata.subtitle }}</h2>
				{% if ebookdata.coverimage %} <img src="{{ base_url }}/{{ ebookdata.coverimage }} ">{% endif %}
			</div>
			<div class="cover-bottom">
				{% if ebookdata.coverlefttext %}
					<div class="bottomcorner">{{ markdown(ebookdata.coverlefttext) }}</div>
				{% endif %}
				{% if ebookdata.coverrighttext %}
					<div class="bottomcorner cornerright">{{ markdown(ebookdata.coverrighttext) }}</div>
				{% endif %}
			</div>
		</div>

		<div class="imprint">
			<div class="imprint-bottom">

				{{ markdown(ebookdata.imprint) }}

			</div>
		</div>
		
		{% if ebookdata.toc %}
			<div class="tableofcontents">
				<h1>{{ ebookdata.toctitle }}</h1>
				<div id="toc"></div>
			</div>
		{% endif %}

		<div class="bookcontent">

			{% for chapter in book %}

				{% if chapter.level == 1 %}
					
					<section class="chapter">
						{{ chapter.content }}
					</section>

				{% else %}
						
					{{ chapter.content }}

				{% endif %}

			{% endfor %}
		
		</div>

		{% if ebookdata.blurb %}

			<div class="blurb">
				<div class="cover-top">
					{% if ebookdata.logo != '' %}
						<img class="logo" src="{{ base_url }}/{{ ebookdata.logo }}">				
					{% endif %}
				</div>
				<div class="cover-title"></div>
				<div class="cover-bottom">
					<div class="bottomcorner">{{ markdown(ebookdata.blurb) }}</div>
				</div>
			</div>
		
		{% endif %}

		<script>
			let ebookconfig = document.querySelector('#ebook');
			ebookdata = JSON.parse(ebookconfig.dataset.ebookdata);
		</script>

		{% block javascripts %}

			{{ assets.renderJS() }}
		
		{% endblock %}

		<script src="{{ base_url }}/plugins/ebooks/public/paged.polyfill.js"></script>
		<script>

			class handlers extends Paged.Handler {
				constructor(chunker, polisher, caller) {
				    super(chunker, polisher, caller);
				}

				beforeParsed(content){
					
					if(ebookdata.toc){
						createToc({
						    content: content,
						    tocElement: '#toc',
							titleElements: tocHeadlines
						});
					}
				}
			}
			Paged.registerHandlers(handlers);

		</script>
		
		{% if ebookdata.toc %}
			<script src="{{ base_url }}/plugins/ebooks/public/paged-toc.js"></script>
			<script>
			 
				 var tocHeadlines = [];
				 var tocLevels = ebookdata.toclevel;
				 for(var i = 1; i <= tocLevels; i++)
				 {
				 	tocHeadlines.push('.bookcontent h'+i);
				 }

			</script>
		{% endif %}
	</body>
</html>